# OS
.DS_Store
Thumbs.db

# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so
*.egg-info/
.env
.venv/
venv/
env/

# Jupyter
.ipynb_checkpoints/

# Logs
*.log

# Build
build/
dist/
out/

# Keil / Embedded build outputs
*.uvguix.*
*.uvoptx
*.uvprojx
Objects/
Listings/
*.axf
*.hex
*.map
*.lst
*.o
*.d

# Large raw media
*.mp4
*.avi
*.mov
*.mkv

# Secrets
*.key
*.pem
.env*
